[builderList]
modelClass = "MyClinic\Setting\Models\Promotion"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 10
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}


<!--offer section area-->
<section class="d-none">

    <div class="container section-py-100">
        <div class="row py-60 pt-0 flex-row-reverse">

            <div class="col-12 col-sm-6 col-lg-6 py-60 pt-0">
                <h1 class="mt-4 mt-sm-0 text-end">{{planText.title_ar|raw}}</h1>

            </div>
            <div class="offset-sm-1 col-12 col-sm-5 text-end">
                <p class="text-justy text-end">{{planText.description_ar|raw}}</p>
                <a class="btn btn-primary btn-mc-01 mb-3 text-sm-end float-end" href="/ar/all-packages">

                    <svg class="ms-3" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"
                        fill="none" style="margin-right: 12px;">
                        <ellipse cx="20" cy="19.6" rx="20" ry="19.6" fill="white" />
                        <path d="M21.7727 14.3984L27.2 19.5984L21.7727 24.7984M27.048 19.5984H18.7148H12"
                            stroke="#003868" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>اعرف أكثر</a>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <div class="offer-tabs">
                    <div class="offerslide mc-plans tab-pane fade show" id="SOLUTIONS">

                        {% for item in records %}
                        <div class="offerItem">
                            <h4 class="offerItemTitle "
                                style="background-image: url({{item.promotion_image.path}});background-repeat: no-repeat;background-size: cover;">
                                {{item.name2}}</h4>
                            <div class="offer-detail">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="offer-content">
                                            <h2 class="plan-title text-end">{{item.name2}}</h2>
                                            <div class="row gx-5">
                                                <div class="col-12">
                                                    <ul class="list-unstyled plan-list list-unstyled-dynamic">
                                                        {% for promotionItems in item.promotionItems %}
                                                        <li>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="45"
                                                                height="25" viewBox="0 0 25 25" fill="none"
                                                                class="me-3">
                                                                <path
                                                                    d="M7.89844 13.3638L10.7177 15.9469L18.2484 9.04688"
                                                                    stroke="#003868" stroke-width="1.5"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                                <path
                                                                    d="M3.3 5.6C1.8625 7.5205 1 9.9125 1 12.5C1 18.848 6.152 24 12.5 24C18.848 24 24 18.848 24 12.5C24 6.152 18.848 1 12.5 1C10.8555 1 9.28 1.345 7.8655 1.9775"
                                                                    stroke="#003868" stroke-width="1.5"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>{{promotionItems.text_ar|raw}}
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--offer section area end-->

<script>
    jQuery(".accordion-plan-cell").click(function () {
        if (jQuery(this).hasClass("collapsed1")) {
            jQuery(this).removeClass("collapsed1");
            jQuery(this).siblings().removeClass("expanded1");
            jQuery(this).addClass("expanded1");
            jQuery(this).siblings().addClass("collapsed1");
        } else {
            jQuery(this).toggleClass("expanded1");
            jQuery(this).siblings().toggleClass("collapsed1");
        }
    });
</script>

<script>
    $(document).ready(function () {
        $(".offerItemTitle").click(function () {
            $(this)
                .parents(".offerslide")
                .children(".offerItem")
                .removeClass("active");
            $(this)
                .parents(".offerslide")
                .children(".offerItem")
                .children(".offerItemTitle")
                .removeClass("hide");
            $(this).parent(".offerItem").addClass("active");
            $(this).addClass("hide");
        });
    });
</script>