==
use MyClinic\Setting\Models\SectionHeading;
function onStart()
{
$this['sectionHeading']=SectionHeading::where('section','testimonial')->first();
}

?>
==

<style>
    .testimonial {
        width: 100%;
        /* height: 100vh; */
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #3d5a80; */
        color: #3d5a80;
    }

    .testimonial-slide {
        padding: 46px 20px;
    }

    .testimonial_box-top {
        /* background: url("assets/imgs/testimonial-bg.png"); */
        background-repeat: no-repeat;
        background-size: cover;
        /* background-color: #003868; */
        padding: 60px;
        padding-top: 0px;
        /* border-radius: 15px; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        /* box-shadow: 5px 5px 20px rgba(152, 193, 217, 0.493); */
    }

    @media only screen and (max-width: 991px) {}

    .testimonial_box-icon {
        padding: 10px 0;
    }

    .testimonial_box-icon i {
        font-size: 25px;
        color: #14213d;
    }

    .slick-next .slick-next-icon,
    .slick-next .slick-prev-icon,
    .slick-prev .slick-next-icon,
    .slick-prev .slick-prev-icon {
        display: block;
        color: #FFF;
        opacity: 1;
        font-size: 24px;
        line-height: 1;
        /* content: "\f054"; */
        font-family: FontAwesome;
    }

    .slick-prev .slick-prev-icon::before {
        content: "\f053";
    }

    .slick-next .slick-next-icon::before {
        content: "\f054";
    }

    .testimonial_box-text {
        padding: 10px 0;
    }

    .testimonial_box-text p {
        color: #003868;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
    }

    .testimonial_box-img {
        padding: 20px 0 10px;
        display: flex;
        justify-content: center;
    }

    .testimonial_box-img img {
        width: 70px;
        height: 70px;
        /* border-radius: 50px; */
        border: 2px solid #e5e5e5;
    }

    .testimonial_box-name {
        padding-top: 10px;
    }

    .testimonial_box-name h4 {
        font-size: 20px;
        line-height: 25px;
        color: #003868;
        margin-bottom: 0;
    }

    .testimonial_box-job p {
        color: #293241;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 20px;
        font-weight: 300;
        margin-bottom: 0;
    }

    .slick-autoplay-toggle-button {
        display: none;
    }

    .testimonial-slider .slick-list {
        margin: 0px 20px !important;
    }

    .slick-dots {
        direction: rtl;
        /* Set the direction to right-to-left */
    }
</style>
<section class="section-bg-2 section-py-100">
    <div class="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>{{sectionHeading.name_ar}}</h1>
                </div>
            </div>
            <div class="testimonial__inner">
                <div class="testimonial-slider">

                    {% for item in testimonials %}


                    <div class="testimonial-slide">
                        <div class="testimonial_box">
                            <div class="testimonial_box-inner">
                                <div class="testimonial_box-top">

                                    <div class="testimonial_box-text">
                                        <p>{{item.testimonial_ar}}</p>
                                    </div>
                                    <div class="testimonial_box-name">
                                        <h4>{{item.name_ar}}</h4>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% put scripts %}

<script>
    $(document).ready(function () {
        $('.testimonial-slider').slick({
            autoplay: true,
            autoplaySpeed: 1000,
            speed: 600,
            draggable: true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            arrows: true,
            dots: true,
            responsive: [
                {
                    breakpoint: 1680,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                    }
                },
                {
                    breakpoint: 575,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                    }
                }
            ]
        });
    });
</script>
{% endput %}