<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCJ1 - Facebook</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="{{'assets/fonts/stylesheet.css'|theme}}">
    <!-- Bootstrap CSS v5.3.2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{'assets/socialmedia/assets/css/style.css'|theme}}">
    <link rel="stylesheet" href="{{'assets/vendors/bootstrap/css/bootstrap.css'|theme}}">
    


    
</head>