url = "/find-doctor"
layout = "master"
title = "Find a Doctor"
meta_title = "Find a Doctor"
meta_description = "Find the Perfect Doctor for Your Health Needs as we Connect You with Trusted Physicians for Optimal Care. Dental Care Doctors, Heart Specialist Doctors, Women Care Doctors, Gyne Specialist Doctors, Child Care Doctors, Urology Specialist Doctors, General Surgery Doctors, Virutal Doctors, Virtual Consultation, Online Doctors"

[resources]
less[] = "pages/find-doctor.less"
==
<?php
use MyClinic\Setting\Models\Testimonial;
use MyClinic\Setting\Models\Slider;
use MyClinic\Setting\Models\PageContent;

function onStart()
{
$testimonials=Testimonial::where('category','home')->orderBy('name')->get();
$this['testimonials'] = $testimonials;

$sliders = Slider::where('type','find_doctor')->get();
$this['sliders'] = $sliders;
$this['ourDoctor']=PageContent::where('page','find-doctor')->where('section','find-doctor-our-doctors')->first();
$fromMobile = Agent::isMobile();
$this['fromMobile']= $fromMobile;

}
?>
==
<!-- ======= BANNER START ======= -->

<div class="swiper-container resize-slider">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slider -->
    {% for item in sliders %}
    <div class="swiper-slide">
      
      <img src="{{item.slider_image_mobile.path}}" class="slidemc" alt="find a doctor">
      <img src="{{item.slider_image.path}}" class="slidemc slidemc-m-home" alt="find a doctor">
      <div class="slide-text">
        <h1 class="mb-3">{{item.title|raw}}</h1>
        <p class="mb-3 mb-sm-5">{{item.tag_line}}</p>
        {% if item.link_value %}
        <a href="/ar/{{item.link_value}}" class="btn btn-primary slide-s btn-mc-01 mb-6"><svg
            xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"
            style="margin-right: 20px;">
            <ellipse cx="20" cy="19.6" rx="20" ry="19.6" fill="white" />
            <path d="M21.7727 14.3984L27.2 19.5984L21.7727 24.7984M27.048 19.5984H18.7148H12" stroke="#003868"
              stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
          </svg>{{item.link_name}}</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"><span></span></div>
  <div class="swiper-button-next"><span></span></div>




</div>


{% if ourDoctor %}
<!-- ======= BANNER END ======= -->
<section class="section-py-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10 text-center">
        <h1>{{ourDoctor.title|raw}}</h1>
        <p>{{ourDoctor.description|raw}}</p>
      </div>
    </div>
  </div>
</section>
{% endif %}

<section class="section-py-100 pt-0">
  <div class="container">
    <div class="row shadow-none shadow-lg p-3">
      <div class="col-12">
        <div class="hero-search">
          {% partial 'components/homePageSearch' %}
        </div>
      </div>
    </div>
    <!-- <div class="row">

            <div class="col-12">
              <form class="row search-form gy-2 align-items-center" action="doctor-profile.html">
                <div class="col-xl col-12">
                  <select class="form-select form-select-lg select-mc" id="autoSizingSelect">
                    <option value="">Location</option>
                    <option value="1">Jeddah</option>
    
                  </select>
                </div>
                <div class="col-auto d-none"><span>OR</span></div>
    
                <div class="col-xl col-12">
                  <select class="form-select form-select-lg select-mc" id="autoSizingSelect0">
                    <option value="">Speciality</option>
                    <option value="Cardiology">Cardiology</option>
                  </select>
                </div>
                <div class="col-auto d-none"><span>OR</span></div>
                <div class="col-xl col-12">
                  <select class="form-select form-select-lg select-mc" id="autoSizingSelect1">
                    <option value="">Doctor’s Name</option>
                    <option value="1">Dr. Ahmad Alwazzan</option>
                  </select>
                </div>
                <div class="col-xl col-12">
                  <select class="form-select form-select-lg select-mc" id="autoSizingSelect2">
                    <option value="">Health Concerns</option>
                    <option value="heart">Heart</option>
    
                  </select>
                </div>
                <div class="col-xl-auto col-12 text-center">
                  <button class="btn btn-primary btn-mc-01 mx-auto" type="submit"><svg
                    xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"
                    style="margin-right: 20px;">
                    <ellipse cx="20" cy="19.6" rx="20" ry="19.6" fill="white" />
                    <path d="M21.7727 14.3984L27.2 19.5984L21.7727 24.7984M27.048 19.5984H18.7148H12"
                      stroke="#003868" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>Search</button>

                </div>
              </form>
            </div>
          </div> -->
  </div>
</section>

{% partial 'components/testimonial'testimonials=testimonials %}




{% partial 'components/appDownload' %}



<script>
  var mySwiper = new Swiper('.swiper-container', {
    effect: '',
    loop: false,
    speed: 1000,
    slidesPerView: 1,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    },
    pagination: {
      el: '.swiper-pagination',
      type: 'bullets',
      clickable: 'true'
    },
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },



  });



</script>